    <!-- Photography Section -->
    <section id="photography" class="content-section text-center">
        <div class="photography-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Photography</h2>
                    <p>You can find a lot of my photography on <a href="https://www.flickr.com/photos/denwilliams/">Flickr</a></p>
                    <p>You might notice it's been a bit quiet there lately. Time seems to have gotten the better of me for now while I've been spending a lot of my free time working on my house... hopefully more will come soon.</p>
                    <p>I also have a <a href="https://500px.com/denwilliams">500px</a> account that needs even more love!</p>
                </div>
            </div>
        </div>
    </section>