    <!-- Photography Section -->
    <section id="software" class="content-section text-center">
        <div class="software-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Software</h2>
                    <p>These days most of what I do outside of work is <a href="{{ site.links.github }}">on my GitHub</a>.</p>
                    <p>My primary project is my domotics project <a href="{{ site.links.homenetCore }}">Homenet</a> - a Node.js application that runs everything in my house :-)</p>
                </div>
            </div>
        </div>
    </section>